*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.header{
    padding: 24px 0;
    background-color: rgba(38, 38, 39, 0.432);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.logo{
    width: 30%;
    display: inline-block;
}
.logo a{
    color: rgb(160, 220, 253);
    text-decoration: none;
    font-size: 24px;
}
.nav{
    width: 70%;
    display: inline-block;
    margin-left: -4px;
}
.nav ul{
    list-style: none;
    text-align: right;
}
.nav li{
    display: inline-block;
    margin: 0 24px;
    position: relative;
}
.nav a{
    color: rgb(149, 220, 250);
    text-decoration: none;
    /* font-size: 24px; */
}
/* banner */
.banner{
    height: 100vh;
}
.banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* content */
.content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50px);
}
.content{
    color: rgb(249, 246, 246);
    background-color: rgba(90, 88, 88, 0.363);
    padding: 24px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.btn{
    padding: 8px 32px;
    text-decoration: none;
    color: rgb(250, 244, 244);
    background-color: rgb(140, 237, 237);
}
.content p{
    margin: 24px 0;
}
.sub-menu{
    background-color: rgba(52, 51, 51, 0.692);
    position: absolute;
    left: 0;
    width: 100px;
    text-align: left !important;
    padding: 12px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0,2s;
}
.sub-menu li{
    margin: 0;
    display: block !important;
    margin: 4px 0;
    
}
.sub-menu li a{
    display: block;
}
.nav li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}
.content a{
    background-color: rgb(152, 171, 171);
    padding: 10px;
    text-decoration: none;
}
